@font-face {
    font-family: "fa";
    src: url('fa.eot?t=1636951878440'); /* IE9*/
    src: url('fa.eot?t=1636951878440#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url("fa.woff2?t=1636951878440") format("woff2"), url("fa.woff?t=1636951878440") format("woff"), url('fa.ttf?t=1636951878440') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('fa.svg?t=1636951878440#fa') format('svg'); /* iOS 4.1- */
}

[class^="fa-"], [class*=" fa-"] {
    font-family: 'fa' !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.fa-ad:before {
    content: "\ea01";
}

.fa-address-book:before {
    content: "\ea02";
}

.fa-address-card:before {
    content: "\ea03";
}

.fa-adjust:before {
    content: "\ea04";
}
