﻿/*
    Public path to font files
*/
$fa-font-path: "/fonts/ec" !default;

/*Icon class prefix*/
$fa-css-prefix: 'fa';

@font-face {
    font-family: "#{$fa-css-prefix}";
    src: url('#{$fa-font-path}/fa.eot?t=1636694431385'); /* IE9*/
    src: url('#{$fa-font-path}/fa.eot?t=1636694431385#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url("#{$fa-font-path}/fa.woff2?t=1636694431385") format("woff2"), url("#{$fa-font-path}/fa.woff?t=1636694431385") format("woff"), url('#{$fa-font-path}/fa.ttf?t=1636694431385') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('#{$fa-font-path}/fa.svg?t=1636694431385#fa') format('svg'); /* iOS 4.1- */
}

[class^="#{$fa-css-prefix}-"], [class*=" #{$fa-css-prefix}-"] {
    font-family: 'fa' !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// Makes the font 33% larger relative to the icon container
.#{$fa-css-prefix}-lg {
    font-size: (4em / 3);
    line-height: (3em / 4);
    vertical-align: -.0667em;
}

.#{$fa-css-prefix}-xs {
    font-size: .75em;
}

.#{$fa-css-prefix}-sm {
    font-size: .875em;
}

/*Special class for message icon*/
.#{$fa-css-prefix}-xl {
    font-size: 1.7em;
}


/*Generate -fa-1x --> to 10*/
@for $i from 1 through 10 {
    .#{$fa-css-prefix}-#{$i}x {
        font-size: $i * 1em;
    }
}

.#{$fa-css-prefix}-fw {
    text-align: center;
    width: 1.25em;
}

.#{$fa-css-prefix}-ul {
    list-style-type: none;
    margin-left: 2.5em;
    padding-left: 0;
}

.#{$fa-css-prefix}-ul > li {
    position: relative;
}

.#{$fa-css-prefix}-li {
    left: -2em;
    position: absolute;
    text-align: center;
    width: 2em;
    line-height: inherit;
}

.#{$fa-css-prefix}-border {
    border: solid 0.08em #eee;
    border-radius: .1em;
    padding: .2em .25em .15em;
}

.#{$fa-css-prefix}-pull-left {
    float: left;
}

.#{$fa-css-prefix}-pull-right {
    float: right;
}

.#{$fa-css-prefix}.fa-pull-left,
.#{$fa-css-prefix}.fa-pull-left,
.#{$fa-css-prefix}.fa-pull-left {
    margin-right: .3em;
}

.#{$fa-css-prefix}.fa-pull-right,
.fas.fa-pull-right {
    margin-left: .3em;
}


@function fa-content($fa-var) {
    @return unquote(#{"\"\\"}#{$fa-var+ "\""});
}
